<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <meta charset="utf-8">
        <style>
            .top{
                height:20px;
                font-size:13px;
                color:gray;
                padding:8px 60px;
            }
            .top>.date {float:left;}
            .top>.facebook{float:right;}
            .top>.facebook>img{
                width:25px;
                height:25px
            }
            .logo>img{
                padding:0 400px;
                
            }
        </style>
    </head>
    <body>
        <div class="top">
            <div class="date">수요일, 7월 19, 2017</div>
            <div class="facebook"><img src="http://www.autovars.cz/files/autovarsweb/Sluzby/social-facebook-icon.png"></div>
        </div>
        <hr>
        <div class="logo"><img src="https://catlas.gnu.ac.kr/wordpress/wp-content/uploads/2016/12/%EC%88%98%EC%A0%95%EB%B3%B8.jpeg"></div>
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
          
          <a class="navbar-brand" href="#"><img src="https://cdn0.iconfinder.com/data/icons/christmas-free-icon-pack/128/house-512.png"></a>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown link
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
    </body>
</html>